* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.navbar {
    line-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(190, 179, 179);
    padding: 15px;
}

.navbar-heading {
    font-size: xx-large;
}

.link {
    text-decoration: none;
    color: black;
}

.navbar-section-two {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
/* Nové */
    padding: 0 5px;
}
.navbar-item:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}
/*  */

.navbar-input {
    height: 25px;
}
.button-img {
    height: 25px;
}

.navbar-search-button {
    padding: 0;
/* Nové */
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.15s;
}
.navbar-search-button:active{
    background-color: rgba(255, 255, 255, 0.6);
}
/*  */
.navbar-search-bar {
    display: flex;
    align-items: center;
}

/* main sections*/
section {
    text-align: center;
    width: 50vw;
}
main{
    display: flex;
    justify-content: space-around;
}
ul{
    text-align: left;
}
li{
    padding: 5px;
}
#uvod{
    width: calc(100% - 2*20px);
    margin: 0 auto;
    text-align: center;
}