* {
    font-family: sans-serif;
}

:root {
    --input-background: ivory;
    --navbar-background: #cfd6dc;
}

body {
    margin: 0;
}

.navbar {
    line-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-background);
    padding: 20px;
}

.navbar-heading {
    font-size: xx-large;
}

.link {
    text-decoration: none;
    color: black;
}

.navbar-section-two {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-item {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.navbar-item:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}
/*  */

.navbar-input {
    height: 26px;
    border: transparent;
    background-color: var(--input-background);
    font-size: larger;
}

.navbar-input:focus {
    outline: none;
}


.button-img {
    height: 25px;
}

.navbar-search-button {
    border: transparent;
    background-color: #b1b7c1;
    border-radius: 10rem;
    padding: 2px 3px 2px 3px;
    cursor: pointer;
}
.navbar-search-button:active{
    background-color: rgba(255, 255, 255, 0.6);
}
/*  */


/* main sections*/
section {
    text-align: center;
    width: 50vw;
}
main{
    display: flex;
    justify-content: space-around;
}
ul{
    text-align: left;
}
li{
    padding: 5px;
}
#uvod{
    width: calc(100% - 2*20px);
    margin: 0 auto;
    text-align: center;
}
.navbar-search-bar {
    display: flex;
    align-items: center;
    background-color: var(--input-background);
    padding: 5px;
    padding-left: 13px;
    border-radius: 10rem;
    box-shadow: 3px 3px 10px #6c767e;
}

.navbar-link {
    padding-top: 3px;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}

.link-text {
    font-size: large;
    color: #6c767e;
}

.navbar-svg {
    fill: #6c767e;
}

#navbar-active-text {
    color: black;
}
#navbar-active-svg {
    fill: black;
}
#navbar-active {
    /* border: solid black 2px; */
    border-radius: 1rem;
    padding: 5px;
    padding-right: 10px;
    background-color: var(--input-background);
    box-shadow: 3px 3px 10px #6c767e;
}