/* * {
    font-family: arial;
} */

a {
    text-decoration: none;
}

:root {
    --input-background: ivory;
    --navbar-background: #cfd6dc;
    --light-shadow: #6c767e;
}

body {
    margin: 0;
}

.navbar {
    line-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-background);
    padding: 5px 25px 5px 25px;
    box-shadow: 0px 3px 10px var(--light-shadow);
}

.navbar-heading {
    font-size: xxx-large;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: black;
}

.navbar-section-two {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* transition: 500ms;
    border: transparent 3px solid;
    border-radius: 1rem; */
}

/*  */

.navbar-input {
    height: 26px;
    border: transparent;
    background-color: var(--input-background);
    font-size: larger;
}

.navbar-input:focus {
    outline: none;
}


.button-img {
    height: 25px;
}

.navbar-search-button {
    border: transparent;
    background-color: #b1b7c1;
    border-radius: 10rem;
    padding: 2px 3px 2px 3px;
    cursor: pointer;
    transition: background-color 225ms;
}
.navbar-search-button:active{
    background-color: var(--input-background);
}



/* main sections*/

.home-main {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1rem;
    grid-template-areas:
        'one one'
        'two three';
    margin: 2rem;

    padding: 1rem;
    /* grid-template-rows: auto 1fr auto; */
}
.uvod {
    grid-area: one;
}
.kriteria {
    grid-area: two;
}
.struktura {
    grid-area: three;
}

.uvod, .kriteria, .struktura {
    background: #eff4f8;
    padding: 1rem;
    box-shadow: 3px 3px 10px var(--light-shadow);
    transition: 500ms;
    /* height: 100%; */
}

.uvod:hover, .kriteria:hover, .struktura:hover {
    box-shadow: 4px 4px 10px #252636;
}


ul {
    text-align: left;
}
li {
    padding: 5px;
    padding-top: 10px;
}
.uvod{

    margin: 0 auto;
    text-align: center;
    font-size: larger;
}






.navbar-search-bar {
    display: flex;
    align-items: center;
    background-color: var(--input-background);
    padding: 5px;
    padding-left: 13px;
    border-radius: 10rem;
    box-shadow: 3px 3px 10px var(--light-shadow);
    transition: 500ms;;
}

.navbar-link {
    padding-top: 3px;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}

.link-text {
    font-size: large;
    color: var(--light-shadow);
}

.navbar-svg {
    fill: var(--light-shadow);
}

#navbar-active-text {
    color: black;
}
#navbar-active-svg {
    fill: black;
}
#navbar-active {
    border: 2px transparent solid;
    transition: 500ms;
    border-radius: 1rem;
    padding: 4px;
    padding-right: 8px;
    background-color: var(--input-background);
    box-shadow: 3px 3px 10px var(--light-shadow);
}
#navbar-active:hover {
    border-radius: 1rem;
    box-shadow: 4px 4px 10px #252636;
}

#navbar-inactive {
    border: 2px transparent solid;
    border-radius: 1rem;
    padding: 4px;
    padding-right: 8px;
    transition: 500ms;
}
#navbar-inactive:hover {
    background-color: var(--input-background);
    box-shadow: 3px 3px 10px #6c767e;
}

.navbar-search-bar:hover {
    box-shadow: 4px 4px 10px #252636;
}

.big {
    width: fit-content;
    width: -moz-fit-content;
}

.big input {
    font-size: x-large;
}

.big svg {
    height: 36px;
    width: 36px;
}

.rozbory-main{
    text-align: -webkit-center;
    margin-top: 10px;
}




/* ROZBORY */

.rozbory-main {
    /* display: flex;
    gap: 5rem; */
    display: grid;
    grid-template-areas:
        'one two two two';
    grid-auto-columns: 1fr;
    gap: 1rem;
    margin: 2rem;
    padding: 1rem;
}

.rozbory-section-1 {
    display: flex;
    flex-direction: column;
    grid-area: one;
}

.rozbory-section-2 {
    grid-area: two;
}

.rozbory-section-1, .rozbory-section-2 {
    background: #eff4f8;
    padding: 1rem;
    box-shadow: 3px 3px 10px var(--light-shadow);
    transition: 500ms;
}
.rozbory-section-1:hover, .rozbory-section-2:hover {
    box-shadow: 4px 4px 10px #252636;
}

.center-align {
    align-items: center;
}

.seznam-knih {
    padding-left: 65px;
    padding-top: 10px;
    font-size: larger;
}

.seznam-button {
    border: 2px solid transparent;
    border-radius: 0.5rem;
    padding: 4px;
    cursor: pointer;
    font-size: large;
    color: black;
    transition: 500ms;
}

.seznam-button:hover {
    background-color: var(--input-background);
    box-shadow: 3px 3px 10px var(--light-shadow);
}

/* Fixed navbar */
.navbar{
    position: fixed;
    top: 0;
    z-index: 10;
    width: -webkit-fill-available;
}

main{
    top: 106px;
    position: relative;
}